---
// Contact.astro
---
<div class="text-center mb-16">
				
    <a
        href="https://wa.me/5527997378085?text=Ol%C3%A1%20Luiz!%20Gostaria%20de%20saber%20mais%20sobre%20o%20Bootcamp."
        class="btn mt-3 bg-gray-600 transition duration-200 hover:scale-105"
        ><span class="flex gap-3"
            ><img
                src="/icon-whatsapp.svg"
                alt="Marque uma reunião"
            />Entre em contato</span
        ></a
    >
</div>