---
// Faq.astro
---
<div>

    <h2 class="block text-center px-2 mt-16 mb-10 text-3xl">
        Perguntas frequentes
    </h2>

    <div class="text-center pb-6">
        <p class="uppercase">
            Qual o objetivo do bootcamp<br>e quem deve participar?
        </p>
        <div class="w-10 h-0.5 mx-auto mt-2 mb-4 bg-secondary"></div>
        <p class="text-sm" style="color: #a1a1a1;">
            O objetivo do bootcamp é capacitar desenvolvedores desde o básico até o nível avançado em desenvolvimento de temas para Shopify, com foco em e-commerce internacional.
        </p>
        <p class="text-sm mt-2" style="color: #a1a1a1;">
            É ideal para quem deseja atuar no mercado de<br>e-commerce e se tornar especialista em Shopify.
        </p>

        <p class="uppercase mt-8">
            Preciso de conhecimentos<br>prévios para participar?
        </p>
        <div class="w-10 h-0.5 mx-auto mt-2 mb-4 bg-secondary"></div>
        <p class="text-sm" style="color: #a1a1a1;">
            Sim, é necessário ter conhecimentos básicos<br>em HTML, CSS e JavaScript.
        </p>

        <p class="uppercase mt-8">
            Como as aulas funcionam<br>e qual a duração do curso?
        </p>
        <div class="w-10 h-0.5 mx-auto mt-2 mb-4 bg-secondary"></div>
        <p class="text-sm" style="color: #a1a1a1;">
            As aulas são ao vivo e 100% online, realizadas<br>todos os sábados das 9h às 11h, com duração<br>total de 6 meses de bootcamp.
        </p>

        <p class="uppercase mt-8">As aulas ficam gravadas<br>para consulta posterior?</p>
        <div class="w-10 h-0.5 mx-auto mt-2 mb-4 bg-secondary"></div>
        <p class="text-sm" style="color: #a1a1a1;">
            Sim, todas as aulas são gravadas e disponibilizadas<br>para que você possa consultá-las por<br>até um ano após o término do curso.
        </p>

        <p class="uppercase mt-8">
            Quais são as opções de<br>pagamento e cancelamento?
        </p>
        <div class="w-10 h-0.5 mx-auto mt-2 mb-4 bg-secondary"></div>
        <p class="text-sm" style="color: #a1a1a1;">
            O investimento é de R$5.000,00, podendo ser pago via PIX ou Cartão de Crédito em até 10x sem juros. Caso o aluno não esteja satisfeito, é possível solicitar o cancelamento durante o curso.
        </p>

        <p class="uppercase mt-8">
            O que é a Mentoria DevRise<br>e como ela funciona?
        </p>
        <div class="w-10 h-0.5 mx-auto mt-2 mb-4 bg-secondary"></div>
        <p class="text-sm" style="color: #a1a1a1;">
            A Mentoria DevRise oferece três sessões individuais, onde você receberá orientação personalizada para alinhar seus objetivos, tirar dúvidas sobre o mercado e desenvolver um plano de carreira no e-commerce.
        </p>

        <p class="uppercase mt-8">
            Como funciona o<br>suporte para os alunos?
        </p>
        <div class="w-10 h-0.5 mx-auto mt-2 mb-4 bg-secondary"></div>
        <p class="text-sm" style="color: #a1a1a1;">
            Você terá acesso direto ao instrutor durante o bootcamp para tirar dúvidas e receber orientações personalizadas. Esse suporte é exclusivo e focado em oferecer o máximo de acompanhamento ao longo do curso.
        </p>
    </div>
    
</div>