---
// Footer.astro
---
<div class="flex gap-4 items-center text-center w-full justify-center">
    <a href="https://twitter.com/LuizVenturote">Twitter</a>
    <div class="w-1 h-1 bg-secondary rounded-full"></div>
    <a href="https://www.instagram.com/luiz.venturote/">Instagram</a>
    <div class="w-1 h-1 bg-secondary rounded-full"></div>
    <a href="https://www.linkedin.com/in/luizventurote">Linkedin</a>
</div>