---
// Header.astro
---

<header class="pt-10 pb-10 mb-10 border-b-border border-b-2">
    <h1 class="text-[33px] font-serif relative">
        <div class="block leading-10">
            Shopify Bootcamp
        </div>
        <span class="text-3xl text-secondary">com Luiz Venturote</span>
        <img src="shopify-logo.png" alt="Shopify" class="w-16 inline-flex absolute top-2 right-0 largemobile:w-20 largemobile:-top-1"/>
    </h1>
</header>
