---
// ServicesDetails.astro
---
<div>

    <h2 class="flex flex-col gap-3 text-center px-2 mt-16 mb-10 text-3xl">
        <span
            >Chegou a hora de se <i class="underline">especializar</i> em
            Shopify!</span
        >
        <span>Veja o que você vai aprender:</span>
    </h2>

    <div class="text-center mb-16">
        <div
            class="bg-highlight text-black font-bold p-1 inline-block w-auto uppercase rounded-md px-2 mb-2"
            style="font-size: 10px; line-height: 10px;"
        >
            E-commerce com Shopify
        </div>
        <div class="">Fundamentos do Shopify e E-commerce</div>
        <div class="">Desenvolvimento de Temas no Shopify</div>
        <div class="">Criação de Componentes Avançados</div>
        <div class="">Instalação e Configuração de Aplicativos</div>

        <div
            class="bg-highlight text-black font-bold p-1 inline-block w-auto uppercase rounded-md px-2 mb-2 mt-8"
            style="font-size: 10px; line-height: 10px;"
        >
            Mentoria DevRise
        </div>

        <div class="font-bold italic">UI/UX Design & Protótipos</div>
        <div class="">Logos & Branding</div>

        <div
            class="bg-highlight text-black font-bold p-1 inline-block w-auto uppercase rounded-md px-2 mb-2 mt-8"
            style="font-size: 10px; line-height: 10px;"
        >
            Extra
        </div>

        <div class="font-bold italic">UI/UX Design & Protótipos</div>
        <div class="">Logos & Branding</div>
        <div class="">Style guides</div>
        <div class="">Cartão de visita</div>

        <div class="mt-4 font-bold">E muito mais! 🚀</div>
    </div>

</div>