---
// ServicesDetails.astro
---
<div>

    <h2 class="flex flex-col gap-3 text-center px-2 mt-16 mb-10 text-3xl">
        <span>Veja um resumo do que você vai aprender:</span>
    </h2>

    <div class="text-center mb-16">
        <div
            class="bg-highlight text-black font-bold p-1 inline-block w-auto uppercase rounded-md px-2 mb-2"
            style="font-size: 10px; line-height: 10px;"
        >
            E-commerce com Shopify
        </div>
        
        <div class="flex flex-col gap-2">
            <div class="">Fundamentos do Shopify e E-commerce</div>
            <div class="">Desenvolvimento de Temas no Shopify</div>
            <div class="">Criação de Componentes Avançados</div>
            <div class="">Instalação e Configuração de Aplicativos</div>
        </div>

        <div
            class="bg-highlight text-black font-bold p-1 inline-block w-auto uppercase rounded-md px-2 mb-2 mt-8"
            style="font-size: 10px; line-height: 10px;"
        >
            Mentoria DevRise
        </div>

        <div class="flex flex-col gap-2">
            <div class="">3 sessões individuais de mentoria</div>
            <div class="">Orientações personalizadas</div>
            <div class="">Planejamento para atuação<br>no mercado como dev Shopify</div>
            <div class="">Alinhamento de metas</div>
        </div>
        
        <div
            class="bg-highlight text-black font-bold p-1 inline-block w-auto uppercase rounded-md px-2 mb-2 mt-8"
            style="font-size: 10px; line-height: 10px;"
        >
            Extra
        </div>

        <div class="flex flex-col gap-2">
            <div class="">Aula de Figma para<br>Desenvolvedores</div>
            <div class="">Google Tag Manager e <br>Google Analytics para E-commerce</div>
            <div class="">Dicas sobre Análise de <br>Performance de sites e SEO</div>
        </div>

        <div class="mt-4 font-bold">E muito mais! 🚀</div>
    </div>

</div>