---
// Steps.astro

import FlowDots from "../components/FlowDots.astro";
---
<div>

    <div class="text-center mb-16">
        <div class="flex gap-3 justify-center mb-4 items-center">
            <img
                src="/icon-form.svg"
                alt="DevRise."
                class="w-11"
            />
            <p class="uppercase text-lg inline-block p-0 m-0">
                Faça a sua inscrição
            </p>
        </div>

        <p class="mb-1" style="color: #a1a1a1;">
            Esse é o primeiro passo para garantir a sua vaga. <a href="#cta_block" class="text-primary-500 no-underline hover:underline">Clique aqui</a> e faça a sua inscrição.
        </p>

        <FlowDots />

        <div class="flex gap-3 justify-center mt-1 mb-4 items-center">
            <img
                src="icon-chat.svg"
                alt="DevRise."
                class="w-11"
            />
            <p class="uppercase text-lg inline-block p-0 m-0 text-left">
                Agende uma reunião <br />com o Luiz Venturote
            </p>
        </div>

        <p class="mb-1" style="color: #a1a1a1;">
            Após sua inscrição, entrarei em contato para agendar uma reunião com você, onde vamos conversar sobre os seus objetivos e expectativas com o bootcamp.
        </p>

        <FlowDots />

        <div class="flex gap-3 justify-center mt-1 mb-4 items-center">
            <img
                src="/icon-subscribe.svg"
                alt="DevRise"
                class="w-11"
            />
            <p class="uppercase text-lg inline-block p-0 m-0 text-left">
                Após a aprovação <br /> Faça o seu pagamento
            </p>
        </div>

        <p class="mb-1" style="color: #a1a1a1;">
            O pagamento pode ser feito via PIX ou Cartão de Crédito, em até 10x sem juros.
        </p>

        <FlowDots />

        <div class="flex gap-3 justify-center mt-1 mb-4 items-center">
            <img
                src="icon-celebration.svg"
                alt="Aprove e revise os trabalhos até ficar 100% satisfeito."
                class="w-11"
            />
            <p class="uppercase text-lg inline-block p-0 m-0 text-left">
                Aguarde e se prepare<br />para o Bootcamp
            </p>
        </div>

        <p class="mb-1" style="color: #a1a1a1;">
            Iremos iniciar no dia 11 de Janeiro de 2025. Você receberá todas as informações necessárias para o início das aulas.
        </p>

    </div>

</div>